.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}

.footer ul{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}
.copyright-text{
    color: gray;
    font-size: 14px;

}
.footer ul li a {
  color: inherit; /* same as text color */
  text-decoration: none; /* remove underline */
  cursor: pointer;
}
.footer ul li a:hover {
  text-decoration: underline;
}

@media (max-width:800px) {
    .footer-icons img{
        width: 25px;

    }
    .footers ul{
        grid-template-columns: auto auto;
        gap: 8px;
        font-size:14px;

    }
}